<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="divider-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Python을 활용해 창의적인 것들을 만드는 것에 큰 열정을 가지고 있으며, 서버와 데이터베이스와 같은 백엔드 분야를 탐구하며 새로운 개념을 배우는 데서 큰 즐거움을 느낍니다.</p>
      </div>
      <div class="col-lg-4">
        <p>또한, 기술이 끊임없이 발전하는 세상에서 발맞추어 나가기 위해, 지속적으로 새로운 개념과 기술을 배워나가고 있습니다. 이러한 지식을 바탕으로 사용자에게 가치 있는 서비스를 제공하는 것이 제 목표입니다.</p>
      </div>
    </div>
  </div>
</section>
